<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="default">
    <div class="board_list layout_width">
        <table class="table_css-593jom">
            <thead class="thead_css-1cdc2af">
            <tr class="tr_css-1lc7l37">
                <th>순위</th>
                <th>보조지표명</th>
                <th>선호도</th>
            </tr>
            </thead>

            <tbody class="tbody_rank">
            <tr class="tbody_tr_css-1rr8gmf" th:each="option, index : ${optionList}">

                <td th:text="${index.count}"></td>
                <td>
                <a th:href="@{/rank/{optionname}(optionname=${option.optionname})}">
<!--                <a th:href="@{'/your-link-path/' + ${option.optionId}}">-->
                    <span th:text="${option.optionname}"></span>
                </a>
                <td th:text="${T(java.lang.Math).ceil(option.favorite * 100 / member) + '%'}"></td>
            </tr>
            </tbody>
        </table>

        <!--// list_search -->
        <th:block th:replace="~{common/_pagination::pagination}"></th:block>

    </div>
    <!--// board_list-->
</th:block>
</html>