<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/myMain}">
<section layout:fragment="content">

    <h1 th:text="#{닉네임_변경}"></h1>

    <form name="frmChangeNickname" method="post" th:action="@{/mypage/changePw}" autocomplete="off"
          target="ifrmProcess">
        <div class="input-group mb-3">
            <input type="hidden" name="mode" value="changeNickname">

            <span th:text="#{현재_닉네임}" class="input-group-text"></span>
            <input th:value="${session.member.nickName}" readonly class="form-control">
        </div>

        <div class="input-group mb-3">
            <span th:text="#{새_닉네임}" class="input-group-text" id="basic-addon2"></span>
            <input type="text" name="newNickname" class="form-control">
            <button type="submit" id="changeNickname" th:text="#{닉네임_변경}" class="btn btn-outline-secondary"></button>
        </div>
    </form>


<!-- 오류 나서 주석 처리

    <h1 th:text="#{닉네임_변경}"></h1>

    <form name="frmChangeNickname" method="post" th:action="@{/mypage/changePw}" autocomplete="off"
          target="ifrmProcess">


        <div class="input-group mb-3">
            <input type="hidden" name="mode" value="changeNickname">
            <span class="input-group-text" id="basic-addon1" th:text="#{현재_닉네임}"></span>
            <input type="text" class="form-control" readonly th:text="${session.member.nickName}" />
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2" th:text="#{새_닉네임}"></span>
            <input type="text" name="newNickname" class="form-control">
            <button type="submit" id="changeNickname" th:text="#{닉네임_변경}" class="btn btn-outline-secondary"></button>
        </div>

        <h1 th:text="#{닉네임_변경}"></h1>
        <input type="hidden" name="mode" value="changeNickname">
        <dt th:text="#{현재_닉네임}"></dt>
        <dd th:text="${session.member.nickName}"></dd>

        <dl>
            <dt th:text="#{새_닉네임}"></dt>
            <dd>
                    <input type="text" name="newNickname">
            </dd>
        </dl>
        <button type="submit" id="changeNickname" th:text="#{닉네임_변경}" ></button>

    </form>

    -->

</section>
</html>