<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mypage</title>
</head>
<body>
<h1>Header</h1>
<!--왼쪽 목록-->
<div class="container">
    <div class="sidebar">
        <ul>
            <li><a href="/mypage/follow.html">팔로워</a></li>
            <li><a href="/mypage/follow.html">팔로잉</a></li>
            <li><a href="/mypage/profile.html">내 프로필</a></li>
            <li><a href="/mypage/myBoard.html">나의 활동</a></li>
            <li><a href="/mypage/deleteMember.html">회원 탈퇴</a></li>
        </ul>
    </div>


<h1>Footer</h1>
</body>
</html>