<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/myMain}">
<section layout:fragment="content" class="layout_width">
    <h1>내 활동</h1>
    <h2>
        <div class="tabs">
            <a th:href="@{/mypage/myBoard/posts}" class="tab" th:classappend="${tab == 'posts'} ? 'on'" th:text="#{게시글}"></a>
            <a th:href="@{/mypage/myBoard/comments}" class="tab" th:classappend="${tab == 'comments'} ? 'on'" th:text="#{코멘트}"></a>
            <a th:href="@{/mypage/myBoard/save_posts}" class="tab" th:classappend="${tab == 'save_posts'} ? 'on'" th:text="#{찜_게시글}"></a>
            <a th:href="@{/mypage/myBoard/latest}" class="tab" th:classappend="${tab == 'latest'} ? 'on'" th:text="#{최근본글}"></a>
        </div>
    </h2>

    <div class="tab_contents">
        <th:block th:if="${tab == 'posts'}">
            <th:block th:replace="~{front/mypage/content/posts::content}"></th:block>
        </th:block>
        <th:block th:if="${tab == 'comments'}">
            <th:block th:replace="~{front/mypage/content/comments::content}"></th:block>
        </th:block>
        <th:block th:if="${tab == 'save_posts'}">
            <th:block th:replace="~{front/mypage/content/save_posts::content}"></th:block>
        </th:block>
        <th:block th:if="${tab == 'latest'}">
            <th:block th:replace="~{front/mypage/content/latest::content}"></th:block>
        </th:block>
    </div>
</section>
</html>
