<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{front/layouts/myMain}">
<section layout:fragment="content">
    <h1 th:text="#{내_프로필}"></h1>
    <form>
        <th:block>
            <h2>내 정보</h2>
            <table border="1">
                <tr>
                    <td>
                        <th:block sec:authorize="isAnonymous()"> <!-- 미 로그인 상태 -->
                            <div class="circle"></div>
                        </th:block>
                        <th:block sec:authorize="isAuthenticated()"> <!-- 로그인 상태 -->
                            <div class="circle">
                                <th:block  th:href="${session.member.profileImage != null}"
                                           th:utext="${@utils.printThumb(session.member.profileImage.seq, 250, 250, 'profile_image')}">
                                </th:block>
                            </div>
                        </th:block>
                    </td>

                    <th th:text="#{닉네임}"></th>
                    <td>회원이름</td>
                    <!--<td th:text="${session.member.nickName}"></td>
                    <td>
                        <span th:text="${#messages.msg('NICKNAME_MSG', session.member.nickName}"></span>
                    </td>-->
                    <td>
                        <button type="button" class="nName_edit" th:text="#{닉네임 수정}" ></button>
                    </td>
                </tr>
            </table>
            <table border="1">
                <tr>
                    <th th:text="#{비밀번호}"></th>
                    <td>회원비밀번호(보이지않음)</td>
                    <td>
                        <th:block>
                            <a th:href="@{/mypage/changePw}" th:text="#{비밀번호_수정}"></a>
                        </th:block>
                    </td>
                </tr>
                <tr>
                    <th th:text="#{이메일}"></th>
                    <td>회원이메일</td>
                    <td>
                        <a th:href="@{/mypage/changeMail}" th:text="#{이메일_수정}"></a>
                    </td>
                </tr>
                <tr>
                    <th th:text="#{보조지표}"></th>
                    <td>
                        <dd>지표1</dd>
                        <dd>지표2</dd>
                        <dd>지표3</dd>
                    </td>
                    <td>
                        <a th:href="@{/mypage/changeIndicator}" th:text="#{지표_수정}"></a>
                    </td>
                </tr>
            </table>
        </th:block>
    </form>
</section>
</html>
