<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{front/layouts/myMain}">
<section layout:fragment="content" class="layout_width">
    <h1 th:text="#{내_프로필}"></h1>

    <form>
        <th:block>
            <h2></h2>
            <th:block sec:authorize="isAnonymous()">  <!--미 로그인 상태 -->

                <table class="table">
                    <tr>
                        <th rowspan="3">
                            <div class="circle"></div>
                        </th>

                        <th th:text="#{아이디}"></th>
                        <td colspan="2">회원ID</td>
                    </tr>

                    <tr>
                        <th th:text="#{회원명}"></th>
                        <td colspan="2">회원이름</td>
                    </tr>

                    <tr>
                        <th th:text="#{닉네임}"></th>
                        <td>회원닉네임</td>
                        <td><button type="button" class="nName_edit" th:text="#{닉네임_수정}"></button></td>
                    </tr>

                    <tr>
                        <th th:text="#{비밀번호}"></th>
                        <td>비밀번호</td>
                        <td><a th:href="@{/mypage/changePw}" th:text="#{비밀번호_수정}"></a></td>
                    </tr>

                    <tr>
                        <th th:text="#{이메일}"></th>
                        <td>이메일</td>
                        <td><a th:href="@{/mypage/changeEmail}" th:text="#{이메일_수정}" ></a></td>
                    </tr>
                    <tr>
                        <th th:text="#{보조지표}"></th>
                        <td>
                            <dd>지표1</dd>
                            <dd>지표2</dd>
                            <dd>지표3</dd>
                        </td>
                        <td>
                            <a th:href="@{/mypage/changeIndicator}" th:text="#{지표_수정}"></a>
                        </td>
                    </tr>
                </table>
            </th:block>  <!--미 로그인 상태 -->


            <th:block sec:authorize="isAuthenticated()"> <!-- 로그인 상태 -->
                <input type="hidden" name="gid" th:value="${session.member.gid}">
                <table th:fragment="member">
                    <tr>
                        <th rowspan="3">
                            <!--이미지 클릭하면 이미지 수정가능-->
                            <div class="circle upload_files" data-image-only="true" data-single-file="true" data-done="true" id="profile_image"
                                 th:style="${@utils.backgroundStyle(session.member.profileImage)}"></div>
                        </th>
                        <th th:text="#{아이디}" class="profile_col profile_padding_left_30"></th>
                        <td colspan="2">
                            <span th:text="${#messages.msg('USERID_MSG', session.member.userId)}"></span>
                        </td>
                    </tr>


                    <tr>
                        <th th:text="#{회원명}" class="profile_col profile_padding_left_30"></th>
                        <td colspan="2">
                            <span th:text="${#messages.msg('USERNAME_MSG', session.member.name)}"></span>
                        </td>
                    </tr>
                    <tr>
                        <th th:text="#{닉네임}" class="profile_col profile_padding_left_30"></th>
                        <td class="width_100">

                            <span th:text="${session.member.nickName}" ></span>

                        </td>
                        <td class="last_col">
                            <a th:href="@{/mypage/changeNickname}" th:text="#{닉네임_수정}" class="profile_edit_btn"></a>
                        </td>
                    </tr>
                </table>

                <hr>
                <table>
                    <tr>
                        <th th:text="#{비밀번호}" class="profile_col "></th>
                        <td>
                            <p th:text="${#messages.msg('PASSWORD_MSG', session.member.password)}"></p>
                        </td>
                        <td class="last_col">
                            <th:block>
                                <a th:href="@{/mypage/changePw}" th:text="#{비밀번호_수정}" class="profile_edit_btn"></a>
                            </th:block>
                        </td>
                    </tr>
                    <tr>
                        <th th:text="#{이메일}" class="profile_col"></th>
                        <td>
                            <span th:text="${session.member.email}"></span>
                            <!-- 이메일 수정 : 이다은 1월 18일
                            <span th:text="${#messages.msg('EMAIL_MSG', session.member.email)}"></span>
                            -->
                        </td>
                        <td class="last_col">
                            <a th:href="@{/mypage/changeEmail}" th:text="#{이메일_수정}" class="profile_edit_btn"></a>
                        </td>
                    </tr>
                    <tr>
                        <th th:text="#{보조지표}" class="profile_col"></th>
<!--                        <td>-->
<!--                            <div th:if="${session.member.option != null}">-->
<!--                                <div th:each="option : ${session.member.option}" class="profile_option">-->
<!--                                    <span th:text="${option.optionName}"></span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </td>-->
                        <td class="last_col">
                            <a th:href="@{/mypage/changeIndicator}" th:text="#{지표_수정}" class="profile_edit_btn"></a>
                        </td>
                    </tr>
                </table>
            </th:block> <!-- 로그인 상태 -->

        </th:block>
    </form>
</section>
</html>
