<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/useMain}">

<section layout:fragment="content" class="follow_board_page">
    <ul class="items">
        <li class="no_data" th:if="${items == null || items.isEmpty()}" th:text="#{조회된_게시글이_없습니다.}"></li>
        <li class="item" th:unless="${items == null || items.isEmpty()}" th:each="item : ${items}" th:object="${item}">
            <div class="post_info">
                <div class="board_seq">
                    <div class="board_seq1" th:text="#{게시판}"></div>
                    <div class="board_seq2" th:text="*{board.bid}"></div>
                </div>
                <div th:text="*{#temporals.format(createdAt, 'yyyy.MM.dd HH:mm')}"></div>
            </div>
            <div class="subject">
                <div class="subject1" th:text="#{제목_1}"></div>
                <div class="subject2" th:text="*{subject}"></div>
            </div>

            <div class="content" th:utext="*{content}"></div>
        </li>
    </ul>

    <th:block th:replace="~{common/_pagination::pagination}"></th:block>
</section>
</html>