<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/myMain}">
<section layout:fragment="content">
    <h1>내 활동</h1>
    <form name="frmSearchUseBoard" method="get" autocomplete="off">
        <input type="hidden" name="mode" value="myBoard">
        <div class="widget_tab">
            <ul class="tabs">
                <li>
                    <input type="radio" name="tab" class="tab" value="/mypage/content/list" id="widget_tab1" checked>
                    <label for="widget_tab1" th:text="#{게시글}"></label>
                </li>
                <li>
                    <input type="radio" name="tab" class="tab" value="/mypage/content/comment" id="widget_tab2">
                    <label for="widget_tab2" th:text="#{코멘트}"></label>
                </li>
                <li>
                    <input type="radio" name="tab" class="tab" value="/mypage/content/save_post" id="widget_tab3">
                    <label for="widget_tab3" th:text="#{찜_게시글}"></label>
                </li>
                <li>
                    <input type="radio" name="tab" class="tab" value="/mypage/content/latestView" id="widget_tab4">
                    <label for="widget_tab4" th:text="#{최근본글}"></label>
                </li>
            </ul>
            <div class="tab_content"></div>
        </div>
    </form>

</section>
</html>
