<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<ul th:fragment="optionList" class="LineArticle__List">
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>1</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>Bitcoin</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>2</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>Tether</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>3</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>Bitcoin</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>4</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>Solana</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>5</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>USDC</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>6</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>Cardano</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>7</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>Dogecoin</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>8</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>Polkadot</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>9</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>WETH</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>10</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>Wrapped Bitcoin</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>11</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>Internet Computer</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>12</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>Dai</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>13</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>LEO Token</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>14</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>Uniswap</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>15</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>Stellar</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>16</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>OKB</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>17</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>Injective Protocol</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>18</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>Optimism</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>19</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>BitTensor</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>20</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>First Digital USD</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>21</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>Filecoin</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>22</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>Arbitrum</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>23</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>Stacks</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>24</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>VeChain</span></a></div>
    </li>
    <li class="LineArticle__Item">
        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>25</span></div>
        <div class="LineArticle__ItemTitle"><a href="#"><span>Mantle</span></a></div>
    </li>
</ul>

</html>