<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content" class="layout_width1">

    <!-- 배너S -->
    <div id="imageSlider">
        <div class="slider-content">

            <!--이미지1-->
            <div class="slide" id="banner_back1">
                <img src="/common/banner_img/001.png" alt="광고 배너">
            </div>

            <!--이미지2-->
            <div class="slide" id="banner_back2">
                <img src="/common/banner_img/002.png" alt="새해 인사">
            </div>

        </div>
    </div>
    <!-- 배너E -->

    <div class="outer_box up_box">
        <div id="index_first_row">
            <th:block layout:fragment="addCommonScript">
                <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
            </th:block>

            <canvas id="upbit_cart"></canvas>
        </div>

        <div>
        <div class="LineArticle__Head">
            <div class="LineArticle__Title">주식 목록</div>
            <div class="LineArticle__Date"><span>01.31 20:00 기준</span></div>
        </div>
        <div class="LineArticle scrollBar">
            <ul class="LineArticle__List">
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>1</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>Bitcoin</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>2</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>Tether</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>3</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>Bitcoin</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>4</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>Solana</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>5</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>USDC</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>6</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>Cardano</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>7</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>Dogecoin</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>8</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>Polkadot</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>9</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>WETH</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>10</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>Wrapped Bitcoin</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>11</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>Internet Computer</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>12</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>Dai</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>13</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>LEO Token</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>14</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>Uniswap</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>15</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>Stellar</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>16</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>OKB</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>17</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>Injective Protocol</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>18</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>Optimism</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>19</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>BitTensor</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>20</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>First Digital USD</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>21</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>Filecoin</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>22</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>Arbitrum</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>23</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>Stacks</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>24</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>VeChain</span></a></div>
                </li>
                <li class="LineArticle__Item">
                    <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>25</span></div>
                    <div class="LineArticle__ItemTitle"><a href="#"><span>Mantle</span></a></div>
                </li>
            </ul>
        </div>
    <!--
            <section layout:fragment="upbitList"></section>
            <h2 th:text="UpBit_Markets"></h2>
            <table>
                <thead>
                <tr>
                    <th>Market</th>
                    <th>Opening Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="upBitTicker : ${upBitTickers}">
                    <td th:text="${upBitTicker.market}"></td>
                    <td th:text="${upBitTicker.opening_price}"></td>
                </tr>
                </tbody>
            </table>
    -->

        </div>


        <div>
            <div class="LineArticle__Head">
                <div class="LineArticle__Title">주식 목록</div>
                <div class="LineArticle__Date"><span>01.31 20:00 기준</span></div>
            </div>
            <div class="LineArticle scrollBar">
                <ul class="LineArticle__List">
                    <li class="LineArticle__Item">
                        <div class="LineArticle__ItemOrder LineArticle__ItemOrder--High"><span>1</span></div>
                        <div class="LineArticle__ItemTitle"><a href="#"><span>Bitcoin</span></a></div>
                    </li>
                </ul>
            </div>
        </div>


    </div>



    <div class="outer_box">
        <h1 th:text="#{최신_게시글}"></h1>

        <ul class="board_latest">
            <!-- 반복문 -->
            <li th:each="b : ${boardMenus}" class="board_latest_li">
                <h2>
                    <!-- 제목을 클릭하면 해당 리스트로 이동-->
                    <a th:href="@{/board/list/{bid}(bid=${b.bid})}" th:text="${b.bName}"></a>
                </h2>
                <ul class="items">
                    <li th:each="item : ${@boardInfoService.getLatest(b.bid)}" th:object="${item}" class="item">
                        <a th:href="@{/board/view/{seq}(seq=*{seq})}">
                            <!-- notice가 있다면 출력 -->
                            <th:block th:if="*{notice}">
                                [<th:block th:text="#{공지}"></th:block>]
                            </th:block>
                            <th:block th:text="*{subject}"></th:block>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</main>
</html>