<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="content">

    <h2 class="comment"></h2>
    <div class="comments">
        <ul class="items">
            <li th:if="${items == null || items.isEmpty()}" class="no_data"
                th:text="#{조회된_댓글이_없습니다.}"></li>

            <li th:each="item : ${items}" th:object="${item}">

                <a th:href="@{/board/view/{seq}#comment_{seq2}(seq=*{boardData.seq}, seq2=*{seq})}" th:text="*{@utils.nl2br(content)}"></a>

                <span class="post_date" th:text="*{#temporals.format(createdAt, 'yyyy.MM.dd HH:mm')}"></span>
            </li>
        </ul>
    </div>

</th:block>
</html>