<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">

    <div class="layout_width find_id_done_page">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">아이디 : </span>
        <input th:value="${member.userId}" readonly class="form-control">
    </div>


    <div th:if="${member != null}" ></div>

    <div class="links resign_page_links">
        <a th:href="@{/member/login}" th:text="#{로그인}"></a>
        <a th:href="@{/member/findpw}" th:text="#{비밀번호_찾기}"></a>
    </div>
    </div>
</main>
</html>