@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

:root { /* 색깔 변수 */
    --main-color: rgb(0,83,169); /*딥블루 : 로고 색깔과 통일*/
    --sub-color : rgb(36,162,228); /*하늘색*/
    --back-color : rgb(244,245,248); /*옅은 회색*/
}

* { font-family: 'Noto Sans KR', sans-serif; color: #000; box-sizing: border-box; outline: none; }
html { font-size: 13px; }
body { margin: 0; }
a { text-decoration: none; }
a:hover { font-weight : bolder; }
ul, ol { list-style: none; margin: 0; padding: 0; }
dl, dt, dd { margin: 0; padding: 0; }
img { border: 0; }


/* 헤더 영역 s */
header { position: fixed; z-index: 1 ;top: 0; left: 0; width: 100%; display: flex; justify-content: space-between; height: 80px; align-items: center; background: #fff; }
header > section { width: 210px; text-align: center; font-size: 14px; }
header > section:last-of-type { flex-grow: 1; padding-right: 20px; text-align: right; }
header .btn_area a {display: inline-block; width: 90px; height: 28px; border: 1px solid #2D3A4A; color: black; border-radius: 5px; line-height: 26px; text-align: center; font-weight: 500;}
header .btn_area a:last-of-type { background: var(--main-color); ; color: var(--back-color)}
/* 헤더 영역 e */

/* 푸터 영역 s */
footer { position: relative; z-index: 3; bottom: 0; left: 0; width: 100%; height: 150px; align-items: center; background: #fff; font-size: 14px; }
footer { display: flex; justify-content: space-around; }
footer > div:first-of-type { width: 210px; }
footer > p:last-of-type { padding: 20px; font-size: 14px; text-align: center; }
#customer_center { color : var(--sub-color); }
/* 푸터 영역 s */


/* 내용역역 s */

main { width: 100%; margin-top: 80px; margin-left: 0; background: lavender; min-height: 1000px; display: flex;}

#outer_box { width: 100%; min-width: 1200px; border:1px solid; padding: 100px 20px 0 20px; position:absolute; }

#index_first_row { height: 400px; padding: 20px;
                    display: flex; justify-content: space-between;}
.inner_box { border:1px solid; } /* 구간보기 위해 div에 테두리 넣어둠. 나중에 삭제 */

#chart_box { width:50%; border:1px solid;}
#stock_list { width:23%; border:1px solid;}
#si_list { width:23%; border:1px solid;}

#index_h1 { width: 100%;  }

main > aside { position: fixed; z-index: 2 ;top: 80; left: 0; height: 100%; width: 208px; background: var(--main-color)  }
main > section { margin-left: 208px; flex-grow: 1; padding: 50px;}

main > aside > a { display: block; height: 71px; color: lavender; font-size: 1.385rem;
    text-align: center; line-height: 70px; position: relative;}

main > aside > a + a { border-top: 1px solid steelblue }
main > aside > a i { color: lavender; font-size: 1.385rem; }
main > aside > a.on, main > aside > a:hover { background: #38A5EE; font-weight: 500; }
main > aside > a.on:after, main > aside > a:hover:after { content:''; display:block; width: 8px; height: 100%; right: 0; top: 0; background: var(--sub-color) ; position: absolute;}

nav.submenus { box-shadow: 1px 1px 5px #cdced5; height: 60px; background: #fff; border-radius: 5px; margin-bottom: 50px; display: flex; align-items: center; }
nav.submenus a { height: 60px; line-height: 60px; padding: 0 40px; font-size: 1.385rem; color: #222; }
nav.submenus a.on { background: var(--sub-color) ; color: #fff; font-weight: 500; }

/* 내용영역 e */

/* 제목 공통 s */
h1 { margin: 0; padding: 0 0 20px 10px; line-height: 1; font-size: 2rem; border-bottom: 2px solid #222; margin-bottom: 30px;}
h2 { margin: 0 0 10px 0; font-size: 1.385rem; line-height: 1; }
/* 제목 공통 e */

/* 테이블 공통 s */
.table_cols { border-spacing: 0; width: 100%; border-top: 2px solid #222; background: #ffffff }
.table_cols th, .table_cols td {padding: 10px; border-bottom: 1px solid #d5d5d5;}
.table_cols th { background: #38A5EE   ; font-weight: normal;}
/* 테이블 공통 e */

/* 입력 공통 s */
input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'] { border: 1px solid #d5d5d5; height: 35px; padding: 0 10px; width: 100%; }
textarea { border: 1px solid #d5d5d5; min-height: 200px; padding: 10px; resize: none; width: 100%; }
select { border: 1px solid #d5d5d5; height: 35px;}
/* 입력 공통 e */

/* 버튼 공통 s */
.submit_btns {text-align: center; margin: 30px 0;}
.submit_btns .btn { display: inline-block; min-width: 200px; height: 45px; padding: 0 15px; border: 1px solid #222; background: #fff; font-size: 1.3rem; font-weight: 500; color: #222222; border-radius: 3px; cursor: pointer; line-height: 43px; }
.submit_btns .btn:last-of-type { background: #2D3A4A ; color: lavender }
.btn:hover { background: #222; color: #fff; }
/* 버튼 공통 e */

/* 메시지 공통 */
.message_box {box-shadow: 1px 1px 5px lightslategray ; padding: 15px; border-radius: 5px; font-size: 1.384rem; font-weight: 500; text-align: center; background: #ffffff; margin-bottom: 30px; color: steelblue }

/* 마이페이지 사진*/
.circle {border-radius: 50%; overflow: hidden;}

.layout_width1 { width: 100%; margin: 0; }
.layout_width { max-width: 1300px; min-width: 1000px; margin: 0 auto; }

/* 페이징 공통 S */
.pagination { text-align: center; margin: 30px 0; }
.pagination .page { border: 1px solid #596b99; color: #596b99; display: inline-block;
padding: 5px 10px; border-radius: 3px; background: #fff; }
.pagination .page .on { background: #596b99; color: #fff; }
.pagination .page + .page { margin-left: 3px; }
/* 페이징 공통 E */

/* 헤더 공통 S */
header .header_search > div { display: flex; align-items: center; justify-content: space-between; height: 100px; }
header .header_search .search { display: flex; }
/* 헤더 공통 S */

/* 마이페이지 내활동 s */
section nav { background: var(--sub-color); z-index: 5}
section nav > .inner a { display: inline-block; height: 45px; line-height: 45px; padding: 0 25px; min-width: 120px; text-align: center; color: #fff; font-size: 1.35rem; }
section nav > .inner a:hover { background:var(--main-color); }
/* 마이페이지 내활동 e */
