<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <!--모바일 쪽은 필수임!!!!!-->
    <meta name="viewport" content="width=device-width, user-scalable=yes,
    initial-scale=1, minimum-scale=0.5, maximum-scale=3.0">
    <title>
        <th:block th:if="${pageTitle!=null}" th:text="${pageTitle + ' - '}"></th:block>
        <th:block th:if="${siteConfig.siteTitle != null}" th:text="${siteConfig.siteTitle}">
        </th:block>
    </title>
    <!--아이콘-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <!--공통 스타일-->
    <link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css?v={v}(v=${siteConfig.cssJsVersion})}">
    <!--동적 처리 : common을 통한 반복을 통해서 가져온 cssFile 값을 뒤에 file=${cssFile}를 통해 가져온다.-->
    <link rel="stylesheet" type="text/css" th:each="cssFile : ${addCommonCss}" th:href="@{/common/css/{file}.css?v={v}(file=${cssFile}, v=${siteConfig.cssJsVersion})}">
    <!--관리자용 스타일-->
    <link rel="stylesheet" type="text/css" th:href="@{/mobile/css/style.css?v={v}(v=${siteConfig.cssJsVersion})}">
    <!--동적 처리 : admin을 통한 반복을 통해서 가져온 cssFile 값을 뒤에 file=${cssFile}를 통해 가져온다.-->
    <link rel="stylesheet" type="text/css" th:each="cssFile : ${addCss}" th:href="@{/mobile/css/{file}.css?v={v}(file=${cssFile}, v=${siteConfig.cssJsVersion})}">


    <th:block layout:fragment="addCss"></th:block>


    <!--공통 스크립트-->
    <script th:src="@{/common/js/common.js?v={v}(v=${siteConfig.cssJsVersion})}"></script>
    <!--동적 처리-->
    <script th:each="jsFile : ${addCommonScript}"
            th:src="@{/common/js/{file}.js?v={v}(file=${jsFile}, v=${siteConfig.cssJsVersion})}"></script>
    <!--관리자용 스크립트-->
    <script th:src="@{/mobile/js/common.js?v={v}(v=${siteConfig.cssJsVersion})}"></script>
    <!--동적 처리-->
    <script th:each="jsFile : ${addScript}"
            th:src="@{/mobile/js/{file}.js?v={v}(file=${jsFile}, v=${siteConfig.cssJsVersion})}"></script>


    <th:block layout:fragment="addScript"></th:block>
</head>
<body>
<!--헤더내의 common 내용으로 교체가 된다.-->
<header th:replace="~{mobile/outlines/header::common}"></header>
<main layout:fragment="content"></main>
<header th:replace="~{mobile/outlines/footer::common}"></header>
<iframe name="ifrmProcess" class="dn"></iframe>
</body>
</html>