<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<aside th:fragment="menus">
    <th:block sec:authorize="isAnonymous()"> <!-- 미 로그인 상태 -->
        <div class="circle"></div>
    </th:block>
    <th:block sec:authorize="isAuthenticated()"> <!-- 로그인 상태 -->
        <!--이미지 클릭하면 이미지 수정가능-->
        <div class="circle upload_files" data-image-only="true" data-single-file="true" data-done="true" id="profile_image2"
                 th:style="${@utils.backgroundStyle(session.member.profileImage)}"></div>
        <!--<div class="circle">
            <th:block  th:if="${session.member.profileImage != null}"
                       th:utext="${@utils.printThumb(session.member.profileImage.seq, 250, 250, 'profile_image')}">
            </th:block>
        </div>-->
    </th:block>
    <!--<button type="button" class="upload_files"
            th:text="#{이미지_수정}" data-image-only="true" data-single-file="true"></button>-->


    <a th:href="@{/mypage/profile}" th:classappend="${menuCode} =='profile' ? 'on'">
        <i class="xi-profile-o"></i> 내 프로필
    </a>

    <a th:href="@{/mypage/myBoard}" th:classappend="${menuCode} =='myBoard' ? 'on'">
        <i class="xi-document"></i> 내 활동
    </a>

    <a th:href="@{/mypage/follow}" th:classappend="${menuCode} == 'follow' ? 'on'">
        <i class="xi-users-o"></i> 팔로우팔로잉
    </a>

    <a th:href="@{/mypage/deleteMember}" th:classappend="${menuCode} == 'delete' ? 'on'">
        <i class="xi-emoticon-sad-o"></i> 회원탈퇴
    </a>
</aside>
</html>