<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<aside th:fragment="menus">
    <th:block sec:authorize="isAnonymous()"> <!-- 미 로그인 상태 -->
        <div class="circle"></div>
    </th:block>
    <th:block sec:authorize="isAuthenticated()"> <!-- 로그인 상태 -->
        <!--이미지 클릭하면 이미지 수정가능-->
        <div class="circle upload_files aside_photo" data-image-only="true" data-single-file="true" data-done="true" id="profile_image2"
                 th:style="${@utils.backgroundStyle(session.member.profileImage)}"></div>
        <!--<div class="circle">
            <th:block  th:if="${session.member.profileImage != null}"
                       th:utext="${@utils.printThumb(session.member.profileImage.seq, 250, 250, 'profile_image')}">
            </th:block>
        </div>-->
    </th:block>
    <!--<button type="button" class="upload_files"
            th:text="#{이미지_수정}" data-image-only="true" data-single-file="true"></button>-->

    <div class="profile_box" sec:authorize="isAuthenticated()">
        <h2><div class="user_nm" th:text="${session.member.nickName}"></div></h2>

        <div class="follow_info">
            <a th:href="@{/mypage/follow?mode=follower}">
                <span class='num' th:text="${@followService.totalFollowers}"></span> <span class="txt">followers</span>
            </a>

            <a th:href="@{/mypage/follow?mode=following}">
                <span class='num' th:text="${@followService.totalFollowings}"></span> <span class="txt">following</span>
            </a>
        </div>
    </div>

    <div class="follow_board_page">
        <ul class="items">
            <li class="no_data" th:if="${items == null || items.isEmpty()}" th:text="#{조회된_회원이_없습니다.}"></li>
            <li class="item" th:unless="${items == null || items.isEmpty()}" th:each="item : ${items}" th:object="${item}">
                <div class="post_info">
                    <div class="profile">
                        <div class="profile_image" th:if="*{member.profileImage != null}" th:style="*{@utils.backgroundStyle(member.profileImage, 80, 80)}"></div>
                        <div>
                            <div class="user_nm" th:text="*{#strings.concat(member.name, '(', member.userId, ')')}"></div>
                            <div class="user_email" th:text="*{member.email}"></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>


</aside>
</html>